<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.donews.frame"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".sdk.DoApplication"
        android:theme="@style/AppTheme">
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="b792a33a" />
        <activity android:name=".camera.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".camera.CameraActivity"/>

        <activity android:name=".sdk.SdkActivity"/>
        <!--<activity android:name=".camera.ClearActivity"/>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.donews.frame.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <activity android:name="com.baidu.mobads.AppActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".sdk.FeedListActivity"/>
        <service android:name=".sdk.DeadService"/>
    </application>

</manifest>