<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.comers.shenwu"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.comers.shenwu.sdk.DoApplication"
        android:theme="@style/AppTheme">
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="b792a33a" />
        <activity android:name="com.comers.shenwu.camera.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.comers.shenwu.camera.CameraActivity"/>

        <activity android:name="com.comers.shenwu.sdk.SdkActivity"/>
        <!--<activity android:name=".camera.ClearActivity"/>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.comers.shenwu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <activity android:name="com.baidu.mobads.AppActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".sdk.FeedListActivity"/>
        <service android:name="com.comers.shenwu.sdk.DeadService"/>

        <!--=================inmobi广告配置=====================-->
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute"/>
        <service
            android:name="com.inmobi.ads.ApkDownloader$ApkDownloadService"
            android:enabled="true">
        </service>
        <activity android:name="com.comers.shenwu.camera.HomeActivity"/>


    </application>


</manifest>